.h-form-field-margin-bottom
  margin-bottom 20px!important

.button__search, .item > .item-secondary.button__search
  top 10px

.h-no-margin-left
  margin-left 0!important

.q-picker-textfield-label
  margin-bottom 14px

.q-picker-textfield.active
  .q-picker-textfield-label
    color rgba(0,0,0,0.54)

.toolbar__collapse
  .toolbar-title
    font-weight 400
    font-size 16px

.q-numeric
  padding-top 22px!important

.anker-navigation
  top 65px
  right 16px

.map.big
  height 350px
