$site-padding = 9rem

.toolbar__header
  padding  0 $site-padding

.layout-header
  ul
    list-style-type none
    display inline-block
    li
      list-style-type none
      float left
    a
      font-size 1.2rem
      color white
      letter-spacing 2px
      display block
      font-weight 300
      padding 0px 15px

.small-content
  padding-left $site-padding
  padding-right $site-padding